body {
	font-family: verdana;
	font-size: 0.8em;
}

.row {
	clear: both;
}

.cell {
	float: left;
	margin: 1px 1px 0px 0px;

	background-color: #ededed;
	/*
	border-radius: 1px;
	height: 6px;
	width:  6px;
	*/
	border-radius: 3px;
	height: 14px;
	width:  14px;
}

/* DEBUGGING THINGS */
hr {
	color: #ffffff;
}
#debug-panel {
	width: 450px;
	height: 350px;
}
#debug {
	margin-right: 30px;
	border-radius: 5px;
	overflow: auto;
	padding: 5px;
	background-color: #ababab;
	height: 100%;	
}
.debug-msg {
	border-radius: 5px;
	background-color: #dedede;
	margin-bottom: 5px;
	padding: 5px;
}